<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />  
	
	<title>Tib - index</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.3.0/base-min.css&pure/0.3.0/forms-min.css&pure/0.3.0/buttons-min.css" />
	<link rel="stylesheet" href="style.css" />
</head>
<body>
	<div class="pure-form">
		<div class="content">
			<center>
				<textarea id="note" name="note">{note}</textarea>
				<br />
				<br />
				from {code}
			</center>
		</div>
	</div>
</body>
</html>